.leaflet container{
  width: 100%;
  height: 100vh;
}

body {
  background-color: #DDDDDD;
  color: black;
  padding-bottom: 20px;
  font-family: Arial;
  text-align: center;
}

#info_chart{
  width:390px;
  padding: 20px 0 0 20px;
}

.vac_btn{
  border-radius:10px;
  background-color:#D8D9DA;
}
.vac_btn:hover{
  background-color: #C3C1C1;
}

.home_btn{
  background-color:#D8D9DA;

}
.home_btn:hover{
  background-color:#C3C1C1;

}

.sbmt_btn{
  background-color:#393F44;

}
.sbmt_btn:hover{
  background-color:black;

}
.legend {
  height: 50px;
}

.legend .hoverText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.legend:hover .hoverText {
  visibility: visible;
}